@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


html {
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url('projectsSkyBackground.jpg');
}

body{
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-family: 'Diphylleia', serif;
}

a {
  color: black;
  cursor: pointer;
}

h1{
  font-size: 5em;
}

.footerParagraph{
  font-size: 0.8em;
  padding:0em;
  margin:0em;
  color:black;
}

.header {
  overflow: hidden;
  padding: 0.5em 0 0 0.5em;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  word-spacing: 0.625em;
}

.footer{
  overflow: hidden;
  padding: 0.5em 0 0.5em 0.5em;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  margin: 0.2em 0em 0.2em 0em;
}

.active{
  font-style: italic;
  letter-spacing: 0.2em;
  border-style: none none solid none;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.2);
  min-width: 40%;
  width: fit-content;
  min-height: 75em;
  padding: 0em 1em 0.7em 1em;
}

.center a{
  color: white;
  font-size: 3em;
  width: 100%;
}

.pictureFormat{
  max-width: 15em;
  max-height: 15em;
  display: table-column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border: solid;
  border-radius: 2pc;
  border-color: black;
}

#floatLeft{
  float: left;
}

#homeButtonImg{
  max-width: 3em;
  max-height: 3em;
  border: 10em; 
  border: solid;
  border-radius: 2pc;
  border-color: black;
  background-color: grey;
}

#resumeImg{
  max-width: 35em;
  max-height: 15em;
  display: table-column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#ohmImgProj{
  width: 5em;
  height: 5em;
  display: table-column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border: 10em; 
  border: solid;
  border-radius: 2pc;
  border-color: black;
  background-color: grey;
}
